/* VARIABLES */
/* PLACEHOLDERS */
.inputs, .inputs .inputs-content {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: hidden; }

/* GENERAL STYLES & BUTTONS */
body {
  width: 80vw;
  margin: auto;
  margin-top: 5rem;
  font-family: 'Comfortaa', cursive; }

img {
  max-width: 100%;
  max-height: 100%; }

.btn-delete {
  background-color: #D03F52; }

.btn-green {
  background-color: #00631b;
  color: #f2f2f2; }

#new {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  color: #f2f2f2;
  background: green;
  border-radius: 50%;
  text-align: center;
  line-height: 55px;
  font-size: 35px;
  box-shadow: 3px 3px 5px #bbb; }

/* HEADER */
.header {
  color: #00631b; }

/* NEW RECIPE MODAL */
.inputs {
  width: 100vw;
  height: 100vh;
  background-color: rgba(45, 45, 45, 0.5); }
  .inputs .inputs-content {
    left: 15vw;
    top: 10vh;
    width: 60vw;
    max-height: 70vh;
    overflow-y: scroll;
    background-color: #eee;
    padding: 3vw 5vw;
    border-radius: 5px; }
    .inputs .inputs-content .close-btn {
      color: #2f2f2f;
      float: right;
      font-size: 30px;
      cursor: pointer; }
    .inputs .inputs-content .fileInput {
      overflow: hidden;
      position: relative;
      margin-top: 10px;
      padding: 10px;
      border: 1px solid #d1d1d1;
      color: #8e8e8e;
      border-radius: 5px;
      background: #fff;
      text-align: center;
      max-height: 50px;
      width: auto;
      line-height: 50px; }
      .inputs .inputs-content .fileInput [type=file] {
        cursor: pointer;
        display: block;
        font-size: 999px;
        filter: alpha(opacity=0);
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0; }
    .inputs .inputs-content #previewPic {
      position: relative;
      max-width: 75%;
      max-height: 75%; }
      .inputs .inputs-content #previewPic:hover .overlay {
        opacity: 0.7; }
      .inputs .inputs-content #previewPic img {
        display: block;
        width: 100%;
        height: auto; }
      .inputs .inputs-content #previewPic .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        background: #2f2f2f;
        transition: .5s ease; }
        .inputs .inputs-content #previewPic .overlay .text {
          position: relative;
          top: 50%;
          color: #fff;
          text-align: center;
          width: 100%; }
    .inputs .inputs-content .input-ingredient {
      width: 35vw; }
    .inputs .inputs-content .input-quantity {
      width: 10vw; }
    .inputs .inputs-content #addIngredient {
      position: relative;
      top: 4px;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
      line-height: 33px;
      font-size: 20px; }
      .inputs .inputs-content #addIngredient:hover {
        background-color: green; }
    .inputs .inputs-content #ingredientsList {
      list-style-type: none; }
      .inputs .inputs-content #ingredientsList li {
        margin: 0;
        font-size: 1.2rem;
        line-height: 1.5rem; }
        .inputs .inputs-content #ingredientsList li .remove-btn {
          position: relative;
          top: 3px;
          color: #D03F52;
          font-size: 20px;
          cursor: pointer;
          text-align: right; }

/* RECIPES LIST */
.output {
  color: #7c7c7c;
  background-color: #f2f2f2;
  padding: 2.5rem 3rem 2rem;
  border-radius: 5px;
  margin: 10px 0; }
  .output h4 {
    margin: 0; }
  .output .button {
    margin: 0 5px;
    height: 35px;
    color: #000;
    float: right; }
  .output .recipe-text {
    margin-top: 20px;
    border-top: 1px solid #2f2f2f;
    padding-top: 20px;
    font-size: 1.5rem; }
  .output .stars-out {
    position: relative;
    display: inline-block; }
  .output .stars-in {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0; }
  .output .stars-out::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #ccc; }
  .output .stars-in::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #f8c30b; }

/* FOOTER */
.footer {
  color: #00631b; }
  .footer a {
    text-decoration: none;
    color: green; }
    .footer a:hover {
      color: #8c8c8c; }

/* MEDIA QUERIES */
@media (max-width: 900px) {
  .output .button {
    float: none;
    width: 100%;
    margin-top: 1rem; }
  .output h4 {
    text-align: center; }

  .inputs .fileInput {
    margin-top: 0;
    margin-bottom: 10px; } }

/*# sourceMappingURL=main.css.map */
